<!DOCTYPE html>
<html ng-app="mbApp">
<head>
    <title>Musicbox</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="ws/swfobject.js"></script>
    <script src="ws/web_socket.js"></script>
</head>
<body ng-controller="MainCtrl">

<div class="left-bar" ng-controller="PlayListCtrl">
    <button ng-click="player.next()">N</button>
    <h1 class="Three-Dee">Playlists</h1>

    <div class="playlists">
        <div class="playlist">Total count: {{player.playlists.length}}</div>
        <div class="playlist" ng-repeat="playlist in player.playlists">
            <h3>{{playlist.name}}</h3>
            <ol>
                <li class="song" ng-class="{current: isCurrent(playlist, song), loading:isCurrent(playlist, song) && player.current.waiting}"
                    ng-click="player.play(playlist, song)" ng-repeat="song in playlist.songs">
                    {{song.name}}
                </li>
            </ol>
            <button ng-click="player.playlists.remove(playlist)">d</button>
        </div>
    </div>
</div>

<div class="view">
    <div ng-view></div>
</div>
</body>
</html>