<div class="searching" ng-show="loading"></div>
<div ng-show="!loading">
    <div class="playlist artist-info">
        <h1 class="Three-Dee" style="margin-top: 10px; margin-bottom: 5px;">{{artist.name}}</h1>

        <div class="left">
            <img class="artist-image" ng-src="{{artist.image[3]['#text']}}">

        </div>
        <div class="right">
            <div ng-bind-html-unsafe="artist.bio.summary"></div>
            <button ng-click="findSimilar(artist)">Find Similar</button>
        </div>
    </div>
    <div class="playlist">
        <h1 class="Three-Dee" style="margin-top: 10px; margin-bottom: 10px;">Songs</h1>

        <div ng-class="{current: player.current.song == song}" ng-click="player.play(playlist, song)"
             ng-repeat="song in playlist.songs">
            <h3>{{song.name}}</h3>
        </div>
        <button ng-click="player.playlists.add(playlist)">add</button>
    </div>
</div>