<div class="left-bar" ng-controller="PlayListCtrl">
    <nav>
        <button class="control play" ng-click="player.play()" ng-hide="player.playing">Play</button>
        <button class="control pause" ng-click="player.pause()" ng-show="player.playing">Pause</button>
        <button class="control prev" ng-click="player.previous()">Prev</button>
        <button class="control next" ng-click="player.next()">Next</button>
    </nav>
    <button ng-click="searchuser(1)">bla</button>
    <div style="width: 230px; margin: auto; margin-top: 10px;" class="playlist">
        <input ng-model="query" ui-keypress="{13 : 'search(query)'}">
        <button ng-click="search(query)">search</button>
    </div>

    <div class="playlists">
        <div class="playlist">
            <h1 class="Three-Dee">Playlists</h1>
            Total count: {{player.playlists.length}}
        </div>
        <div class="playlist" ng-repeat="playlist in player.playlists">
            <button class="remove" ng-click="player.playlists.remove(playlist)">Remove</button>
            <h3 ng-model="playlist.name" contenteditable></h3>
            <ol>
                <li class="song"
                    ng-class="{current: isCurrent(playlist, song), loading:isCurrent(playlist, song) && player.current.waiting}"
                    ng-click="player.play(playlist, song)" ng-repeat="song in playlist.songs">
                    {{song.name}}
                </li>
            </ol>
        </div>
    </div>
</div>